<a href="https://colab.research.google.com/github/pawtar90/data-science-bootcamp/blob/main/01_wprowadzenie/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
s = pd.Series(data=[3, 2, 4 ,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [10]:
s = pd.Series(data=[3, 2, 4 ,6],index=['a','b','c','d'],name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [11]:
import numpy as np

In [13]:
np.nan

nan

In [14]:
s = pd.Series(data=[3, np.nan, 4 ,6],index=['a','b','c','d'],name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [30]:
s = pd.Series(data=np.arange(10,20),index=pd.date_range(start='20200101',periods=10))

In [24]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [26]:
s = pd.Series(['python','java','sql'],name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [21]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [28]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [32]:
s.shape

(10,)

In [31]:
s.dtypes

dtype('int64')

In [41]:
price = pd.Series(data={'apple':200,'CP projekt': 60, 'amazon':1900,'kghm':np.nan})
price

apple          200.0
CP projekt      60.0
amazon        1900.0
kghm             NaN
dtype: float64

In [34]:
price['apple']

200

In [42]:
price.count()

3

In [43]:
price.value_counts()

1900.0    1
60.0      1
200.0     1
dtype: int64

In [45]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [38]:
price.sum()

2160

In [44]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [47]:
price.nlargest(2)

amazon    1900.0
apple      200.0
dtype: float64

In [48]:
price.rank()

apple         2.0
CP projekt    1.0
amazon        3.0
kghm          NaN
dtype: float64

In [50]:
price.sort_values(ascending=False)

amazon        1900.0
apple          200.0
CP projekt      60.0
kghm             NaN
dtype: float64

In [51]:
price.apply(lambda x: x* 3.8)

apple          760.0
CP projekt     228.0
amazon        7220.0
kghm             NaN
dtype: float64

In [58]:
def funkcja(x):
  return x*3.8

In [59]:
price.apply(funkcja)

apple          760.0
CP projekt     228.0
amazon        7220.0
kghm             NaN
dtype: float64

In [62]:
price_pln = price.apply(funkcja)
price_pln

apple          760.0
CP projekt     228.0
amazon        7220.0
kghm             NaN
dtype: float64

In [64]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [65]:
df = pd.DataFrame(data=[12, 12, 32], index=['first','second','third'], columns =['col_1'])
df

        col_1
first      12
second     12
third      32

In [66]:
df = pd.DataFrame(data={'WIG120': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

      WIG120   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [73]:
df = pd.DataFrame(data=[[10, 12, 32],[23,12,10]], index=['first','second'], columns =['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      10     12     32
second     23     12     10

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [71]:
df.describe()

           col_1  col_2      col_3
count   2.000000    2.0   2.000000
mean   17.500000   12.0  21.000000
std     7.778175    0.0  15.556349
min    12.000000   12.0  10.000000
25%    14.750000   12.0  15.500000
50%    17.500000   12.0  21.000000
75%    20.250000   12.0  26.500000
max    23.000000   12.0  32.000000

In [72]:
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

In [78]:
df['col_1']
type(df['col_1'])

pandas.core.series.Series

In [79]:
df[['col_1']]
type(df[['col_1']])

pandas.core.frame.DataFrame

In [82]:
df.columns=['a','b','c']

In [83]:
df

         a   b   c
first   10  12  32
second  23  12  10

In [84]:
df.a

first     10
second    23
Name: a, dtype: int64

In [85]:
df['d']=df.a+df.c
df

         a   b   c   d
first   10  12  32  42
second  23  12  10  33

In [87]:
df = pd.DataFrame(data=[[10, 12, 32],[23,12,10]], index=['first','second'], columns =['col_1','col_2','col_3'])

In [88]:
df.loc['first']

col_1    10
col_2    12
col_3    32
Name: first, dtype: int64

In [89]:
df.iloc[1]

col_1    23
col_2    12
col_3    10
Name: second, dtype: int64

In [90]:
df.loc['first','col_2']

12

In [91]:
df.loc[:,'col_2']

first     12
second    12
Name: col_2, dtype: int64